<div class="cart">
	<div class="cart__header">
		<div class="cart__header-inner"><a ui-sref="shop"><i aria-hidden="true" class="fa fa-arrow-circle-o-left"></i>Back to store</a></div>
	</div>
	<div class="cart__content">
		<div class="cart__content-inner">
			<div class="cart__content-descr">
				<div class="cart__content-img"></div>
				<h1>Your shopping cart</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<orders></orders>
		</div>
	</div>
</div>